/* Fametrahana ny fototra */
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth; /* Mba hikisaka malama tsara */
}

body {background-color: #626488;
    color: #C81111;
    line-height: 1.6;
}

/* Header sy Menu */
header {
    background: #151FD2DB;
    color: rgba(239, 0, 0, 1);
    padding: 1rem 0;
    position: fixed;
    width:100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 1px 2px rgba(440, 5, 10, 0.89);
}
/* Atsaharo ny drawer tsy hiseho aloha */
aside, .sidebar, .menu-mobile {
  transform: translateX(-100%);
}

/* raha misy overlay */
.body--menu-open aside { transform: translateX(100); }

nav {
    display:flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.logo span { color: #C5F2F9; }

nav ul { display: flex; list-style: none; }

nav ul li { margin: 0 16px; }

nav ul li a {
    text-decoration: none;
    color: rgba(1, 200, 55, 0.89);
    font-weight: 500;
    transition: 0.3s;
}

nav ul li a:hover { color: #3498db; }

/* Fizarana ny Section tsirairay ho pejy iray be (Full Height) */
section {
    min-height: 0vh;
    padding: 300px 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid #12D62DA8;
}

/* Background samihafa ho an'ny fizarana */
#accueil { background: linear-gradient(rgba(83, 11, 175, 0.7), rgba(123, 139, 16, 0.89)), url('https://images.unsplash.com/photo-1517694712202-14dd9538aa97?auto=format&fit=crop&w=1350&q=80'); background-size: cover; color: white; }

.about-title {           /* À Propos de moi */
  margin-bottom: 0px;     /* ahenao kely */
}
.education h2 {          /* ÉDUCATION */
  margin-top:0;          /* esory ny espace ambony */
}
.education p { margin-top: 4px; }  /* raha mbola lava, ahenao */
#competences { background-color: #7111C4; }
#contact { background-color: #0ED4E2; }
.contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;   /* mifanandrify afovoany */
  gap: 2px;              /* elanelana kely */
}
.btn {
  padding: 8px 16px;
}
.tel {
  margin: 0;
  font-size: 0.95rem;
  color: #E0DE14;
  display: flex;
  align-items: center;
  gap: 4px;
}

/* Raha tiana ho lasa azo tsindriana (lien) dia ampiasao ity */
.phone-number a {
    text-decoration: none;
    color: inherit;
}
.whatsapp {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  color: #25D366;       /* WhatsApp green */
  text-decoration: none;
  font-weight: 500;
}
.whatsapp:hover {
  opacity: 0.85;
}
.email {
  display: inline-flex;
  align-items: center;
  gap: 15px;
  color: #fff;
  text-decoration: none;
}
.email:hover {
  opacity: 0.85;
}

.hero h1 span { color: #DB348E; }
.btn {
    display: inline-block;
    background: #3498db;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: 0.3s;
}

.profile-img {
    width:300px;      /* Azonao ovaina ny habeny */
    height: 300px;     /* Tsy maintsy mitovy amin'ny width mba ho boribory tsara */
    object-fit: cover; /* Mba tsy ho tery ilay sary ao anatiny */
    border-radius: 90%; /* Ity no mampiboribory azy */
    border: 3px solid #3498db; /* Azonao asiana sisiny miloko */
}
.btn:hover { background: #2980b9; }

/* Bouton Retour */
.btn-back {
    display: inline-block;
    margin-top: 30px;
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}
/* Skills Grid */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    max-width: 1000px;
    margin-top: 40px;
}
.skill-card {
    background: #6CC080;
    padding: #9C5C0FE3;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(44, 231, 12, 1);
    transition: transform 0.3s;
}

.skill-card:hover { transform: translateY(-10px); }

.skill-card i {
    font-size: 3rem;
    color: #070867;
    margin-bottom: 15px;
}

/* Formulaire Contact */
#contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    gap: 25px;
}

#contact-form input, #contact-form textarea {
    padding:12px;
    border: 1px solid #EFBC52;
    border-radius: 5px;
}
.fb-top {
  position:rlative;
  top: 12px;
  right: 12px;
  display: inline-flex;
  align-items: center;
  gap: 20px;
  color: #F2E218;
  text-decoration: none;
  font-weight: 500;
}
.fb-top:hover { opacity: .85; }

footer {
    background: #4C3905;
    color: #1EDD19;
    text-align: center;
    padding: 20px;
}

.floating-btn {
    position: fixed;       /* Ity no mampitsingevana azy na mi-scroll aza ianao */
    bottom: 90px;          /* Elanelana avy any ambany */
    right: 120px;           /* Elanelana avy any ankavanana */
    width: 100px;           /* Ny habeny */
    height: 60px;
    background-color: #CC0000;
    color: white;
    border-radius: 100%;    /* Boribory tsara */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;       /* Habe "vaventy" ho an'ilay zana-tsipìka */
    box-shadow: 4px 4px 20px rgba(7, 176, 20, 0.87); /* Aloka mba hisongadina */
    z-index: 9999;         /* Mba ho eo ambonin'ny sary rehetra */
}

.fb-block {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  color:#A6BBB7A6;
}

.fb-photo {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;       
  border: 8px solid #720A4F;
} 
.fb-card {
  position: relative;
  display: inline-block}
.fb-img {
  display: block;
  width: 400%;
  max-width: 620px;
  border-radius: 120px;
}
.about-title {           /* À Propos de moi */
  margin-bottom: -8px;     /* ahenao kely */
}
.education h2 {          /* ÉDUCATION */
  margin-top: 0;          /* esory ny espace ambony */
}
.education p { margin-top: 0px; }  /* raha mbola lava, ahenao */
.about .container { padding-top: 0px; padding-bottom: 0px; }
.about-title { margin-bottom: 0px; }
.education h2 { margin-top: 0; }
.education p { margin-top: 0px; }
.contact-wrapper {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}
.left-photo {
  width: 140px;
  height: auto;
  object-fit: cover;
  border-radius: 50px;
}


